html,
body {
  background-color: #54cbca !important;
  font: 16px;
  font-family: sans-serif;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  background-image: url(https://ghost.estudiopatagon.com/groovy/assets/images/background-decoration.svg),
    url(https://ghost.estudiopatagon.com/groovy/assets/images/background-decoration.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 9.5% 95px, 90.5% 95px;
  background-attachment: fixed, fixed;
  background-origin: padding-box;
  background-size: 150px;
  width: auto;
  height: auto;
}

footer {
  background-color: #fffacd;
  border-top: 1px solid rgb(39 39 39 / 75%);
  border-bottom: 1px solid rgb(39 39 39 / 75%);
  padding-bottom: 20px;
  margin-top: 120px;
  padding: 0;
}

.no-margin {
  margin: 0 !important;
}

/* hover img all */
button:hover:not(.main-comment #btn),
img:hover:not(.img-menu) {
  box-shadow: 2px 2px #443c3c;
  transform: translate3d(-2px, -2px, 0);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;
}

button:active:not(.main-comment #btn),
img:active:not(.img-menu) {
  box-shadow: 2px 2px #443c3c;
  transform: translate3d(-2px, -2px, 0);
}

/* header */
/* css menu  */
.grid-menu-container {
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  position: relative;
}

.box-menu {
  padding: 20px 60px;
  border-radius: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #fffacd;
  position: relative;
  border: 1px solid rgb(39 39 39 / 75%);
  flex-wrap: nowrap;
}

.logo > {
  margin: 0;
  float: left;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.menu-dropdown {
  margin-right: 10px;
  padding-right: 15px;
}

.nav-menu {
  margin-left: auto;
  text-align: right;
  float: right;
  display: block;
}

ul.menu {
  padding: 0;
  font-size: 0px;
  padding-left: 130px;
}

/* nav-item css */
.nav-menu ul.menu li {
  display: inline-block;
  padding: 10px 13px;
  position: relative;
}

.nav-menu ul.menu li a {
  display: inline-block;
  font-size: 15px;
  line-height: 1.25;
  position: relative;
  z-index: 1;
  color: #333;
  background-position: left 100%;
  letter-spacing: 0.3px;
  font-family: sans-serif;
  text-decoration: none;
  outline: 0;
}

/* sub-menu */
.nav-menu ul.sub-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  padding: 15px 0;
  background: #fff;
  min-width: 250px;
  text-align: left;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--epcl-border-color);
  border-radius: 10px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  border: 1px solid black;
}

.menu-dropdown:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.sub-menu li a:hover::before {
  content: " â” ";
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 0;
  bottom: 0;
  right: -20px;
  width: 0;
  transition: margin-left 0.1s ease-in-out;
}

.sub-menu li a:hover {
  margin-left: 15px;
  transition: margin-left 0.1s ease-in-out;
}

.nav-menu ul.sub-menu li {
  display: block;
  padding: 10px 25px;
  font-family: sans-serif;
  position: relative;
}

.nav-menu ul.menu li a:hover {
  color: #ff4c60;
}

.nav-menu ul.sub-menu li a:hover {
  color: #333;
}

/* login Button */
.signinButton:not(.nav-menu ul.menu) {
  background-image: none;
  background-color: #000;
  border: 1px solid black;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: sans-serif;
  font-weight: bolder;
}

.signinButton:not(.nav-menu ul.menu):hover {
  box-shadow: 2px 2px #443c3c;
  transform: translate3d(-2px, -2px, 0);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.signinButton:not(.nav-menu ul.menu):hover {
  box-shadow: 2px 2px #443c3c;
  transform: translate3d(-2px, -2px, 0);
}

/* content css */
/* main content */
.bg-box {
  background-color: #fffacd;
  border-radius: 15px;
  border: 1px solid rgb(39 39 39 / 75%);
}

/* select all articles of leftcontent */
#articles-of-leftcontent > article {
  margin: 0 auto 50px;
  padding: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
}

#articles-of-leftcontent article {
  background-color: #c5c5fe;
}

/* hover button all*/

/* css icon */
.fa-facebook-f {
  color: blue;
  font-size: 20px;
}

.fa-twitter {
  color: cornflowerblue;
  font-size: 20px;
}

.fa-instagram {
  font-size: 20px;
  color: #d6249f;
}

.fa-wifi {
  color: orange;
}

.fa-earth-americas {
  color: #ff4c60;
}

.social-button {
  float: right;
  margin: 5px 0 0 30px;
}

.social-button.fill-color a {
  display: inline-block;
  margin: 0 2px;
  background: none;
  box-shadow: none;
  width: 34px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.social-button a i.fa-brands,
.social-button a i.fa-solid {
  font-size: 22px;
  font-size: normal !important;
  display: inline-block;
  font: FontAwesome;
  text-rendering: auto;
}

/* content */
.main-article {
  position: relative;
  z-index: 1;
  padding: 50px 60px;
}

.main-article > header {
  margin: 12px 12px 50px;
  align-items: center;
  justify-content: center;
}
.imageDetails {
  margin: 0;
  position: relative;
  z-index: 2;
}

.img-content {
  border-radius: 15px;
  border: 1px solid rgb(39 39 39 / 75%);
  object-fit: cover;
  display: block;
}

.info > .top {
  margin: 0 0 20px 0;
  width: auto;
}

.info {
  width: 60%;
  display: block;
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 14px;
  margin-bottom: 40px;
}

.tag {
  margin-bottom: 20px;
  display: block;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
  color: #333;
}

.min-read {
  display: inline-block;
  cursor: default;
  text-transform: lowercase;
  margin-right: 0;
}

.tag > a {
  display: inline-block;
  padding: 6px 15px;
  line-height: 1.2;
  margin-right: 10px;
  background: #fff;
  color: #000;
  border: 1px solid rgb(39 39 39 / 75%);
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

.main-tittle {
  max-width: 100%;
  text-align: left;
  font-size: 26px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid black;
  background: #fff;
  font-family: sans-serif;
  font-weight: 800;
  line-height: 1.45;
  letter-spacing: 0.5px;
  color: #333;
}

.last-update {
  margin: 25px 0 0 0;
  width: auto;
  align-items: baseline;
  font-size: 14px;
}

.text {
  font-size: 17px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-left: 40px;
  margin-right: 40px;
}

.text > p {
  padding-top: 8px;
  margin-bottom: 0px 0px 24px;
}

.imgCaption {
  max-width: 100%;
  height: auto;
  border: 1px solid rgb(39 39 39 / 75%);
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  justify-content: center;
  align-items: center;
}

.text figure {
  padding-top: 8px;
}

.text figcaption {
  text-align: center;
  font-size: 90%;
  opacity: 0.75;
  margin-top: 5px;
}

.image-card {
  margin: 0 auto 25px;
  width: 60%;
}

.gallery-image-item {
  border: 1px solid black;
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text a:not([class]) {
  color: #353a44;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #353a44;
}

.tag-bottom {
  padding-top: 25px;
}

.tags {
  display: inline;
}

/* handle background left-content */
/* .left-content, */
.icon-left-1 {
  background: #c5c5fe;
  border: 1px solid black;
  border-radius: 20px;
}

.left-content-2,
.icon-left-2 {
  background: #54cbca;
  border: 1px solid black;
  border-radius: 20px;
}

.left-content-3,
.icon-left-3 {
  background: #83ea6c;
  border: 1px solid black;
  border-radius: 20px;
}

.left-content-4,
.icon-left-4 {
  background: #85b2f4;
  border: 1px solid black;
  border-radius: 20px;
}

.button-content {
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  padding: 6px 15px;
  line-height: 1.2;
  display: inline-block;
  margin-right: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* hanle background right-content */
.right-content {
  background-color: #fffacd;
  border-radius: 20px;
  border: 1px solid black;
  padding: 15px;
  margin-left: 60px;
  margin-bottom: 150px;
}

/* css underline */
.text-left-content {
  font-size: 34px;
  font-weight: bolder;
  position: relative;
  cursor: pointer;
  display: inline;
  overflow: hidden;
}

.hoverTextEffect:hover::after,
.hoverTextEffect:focus::after,
.hoverTextEffect:active:after {
  width: 100%;
}

.hoverTextEffect::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background: #000;
  transition: width 0.4s ease-in-out;
}

.hoverTextEffect:hover::after {
  transition: width 0.4s ease-in-out;
}

/* css avatar  */
.img-jonathan {
  border: 1px solid black;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.about-jonathanImg {
  border: 1px solid black;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.info > .name {
  font-size: 16px;
  padding: 0px 0px 5px;
  font-family: sans-serif;
  color: #333333;
}

.titleFooter {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 1;
  position: relative;
  top: -20px;
  font-size: 20px;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

/* css icon right 3 */
.icon-right-3 {
  border: 1px solid black;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
}

/* css tag Cloud */
.tagCloud > div > button {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 13px;
  font-family: sans-serif;
  margin: 0px 10px 12px 0px;
}

h6 {
  font-size: 12px;
}

/* css button prev next */
#prev-btn,
#next-btn {
  background: #ffffff;
  border: 1px solid black;
  border-radius: 50%;
}

.authors h3.title {
  display: inline-block;
}

.navigation-container {
  float: right;
}

.slick-list {
  transform: translate3d(0, 0, 0);
}

.meetTheAuthor {
  background: #ffffff;
  border: 1px solid black;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 4px 25px;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.page-info {
  font-family: serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
}

.itemCarousel > .col > a > img {
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.authors {
  padding: 0;
  margin-top: 50px;
}

/* css Form */
.subcribe-form {
  position: relative;
  z-index: 2;
}

.subscribeFooter {
  border-top: 1px solid rgb(39 39 39 / 75%);
  margin-top: 40px;
}

.titleForm {
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin: 53.2px 0px 30px;
}

.footer .subscribe-form .form-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.form-group {
  margin: 20px 0;
  position: relative;
}

/* subcribe */
.subscribe-decoration {
  background: url(../assets/img/subscribe-decoration.png) no-repeat left top;
  position: absolute;
  left: 24%;
  top: 150px;
  margin-right: -70px;
  z-index: -1;
  width: 125px;
  height: 103px;
  background-size: contain;
}

.subcribe {
  font-size: 16px;
  position: relative;
  z-index: 2;
  border-top: 1px solid black;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 0;
  padding: 60px 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.title-subcribe {
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

/* css style of font word */
.small {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
}

.medium {
  font-size: 20px;
  line-height: 1.4;
}

.large {
  font-size: 34px;
  line-height: 1.2;
}

.inputForm {
  margin: 0;
  padding-right: 175px;
  height: 60px;
  padding: 15px 175px 15px 45px;
  font-size: 15px;
  letter-spacing: 0.5px;
  border: 1px solid black;
  border-radius: 100px;
  width: 100%;
  font-family: sans-serif;
}

/* css submit button */
.submitButton {
  position: absolute;
  right: 10px;
  top: 7px;
  height: 47px;
  font-size: 17px;
  padding: 0px 35px;
  color: #ffffff;
  letter-spacing: 0.5px;
  z-index: 2;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  background-color: #ff4c60;
  transition: all 300ms var(cubic-bezier(0.5, 2.5, 0.7, 0.7));
}

.description {
  max-width: 400px;
  margin: 0 100px;
  font-size: 15px;
}

.menuFooter {
  margin: 16px 0;
  padding: 0px 0px 0px 40px;
  font-family: sans-serif;
  text-align: center;
}

.menuFooter > li {
  display: inline;
  margin-left: 7px;
  justify-content: center;
  align-items: center;
}

.menuFooter > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.menuFooter > li > a:hover {
  color: #ff0081;
}

.iconAboutMe {
  font: 14px;
  font-size: inherit;
}

.footer .second-nav {
  margin-bottom: 20px;
  text-align: center;
}

.published {
  margin: 0 0 20px;
  font-size: 13px;
  text-align: center;
}

/* About the author */
.author-avatar {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  background-size: cover;
}

.title-authors {
  position: absolute;
  left: 40px;
  top: -20px;
  z-index:-2;
  padding:4px 25px;
  background: #fff;
  border:1px solid rgb(39 39 39 / 75%);
  border-radius: 100px;
}

.bg-box.section {
  padding: 40px;
  padding-bottom: 30px;
}

.wrapper {
  width: 50%;
}

.wrapper-right {
  margin-right: auto;
}

.wrapper-text {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.wrapper-info p {
  font-size: 14px;
  margin-top: 15px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.wrapper-button {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid rgb(39 39 39 / 75%);
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 15px;
  color: #000;
  box-shadow: 2px 2px #443c3c;
}

#authors {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 50px auto;
}

.authors-post {
  width: 42.5%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: left;
}

.authors-post-text {
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}

/* comment */
.comment-root {
  padding-top: 0;
  padding-bottom: 24px;
}

.main-comment {
  border-top: 1px solid #00000013;
  border-bottom: 1px solid #00000013;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 48px;
}

.btn-comment {
  margin: 0 0 12px;
  padding: 10px 20px;
  background-color: rgb(255, 76, 96);
  color: #fff;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
}

.btn-signin-comment {
  color: rgb(255, 76, 96);
  border: none;
  background-color: #fffacd;
  font-weight: 14px;
  font-weight: 500;
}

/* page navigation */
#page-info {
  margin-right: 20px;
}

#buttonNavigation {
  padding: 10px 20px;
  background-color: #ff5e5e;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid black;
}

#buttonNavigation:hover {
  background-color: #ff4b4b;
  cursor: pointer;
}

/* grid system size */
.grid-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-large {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-small {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/* left content */
.left-content {
  position: relative;
  margin-right: 0;
  padding-right: 20px;
}

#sidebar {
  z-index: 2;
  float: right;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  min-height: 1px;
  height: 100%;
}

/* sticky position */
.stickyAside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  overflow: auto;
}

.sticky-item:not(:last-child) {
  position: relative;
  margin-bottom: 50px;
  width: auto;
  float: none;
}

.tittleRight {
  letter-spacing: 0.25px;
  position: absolute;
  left: 25px;
  top: -20px;
  z-index: 2;
}

/* number footer */
.number {
  position: absolute;
  z-index: 3;
  left: 425px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  font-weight: 700;
  color: #000;
  background: url(https://ghost.estudiopatagon.com/groovy/assets/images/number-decoration.svg)
    no-repeat center center;
}

/* reponsive */
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 902px) {
  .menu-flex-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: auto;
  }
}

@media screen and (max-width: 1150px) {
  .grid-container {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1024px) {
  .grid-70 {
    float: left;
    width: 70%;
  }
  .grid-100 {
    clear: both;
    width: 100%;
  }
  .grid-30 {
    width: 30%;
  }
  /* .grid-25 {
    float: left;
    width: 25%; */
}
