html {
  height: 100%;
  background-color: cadetblue;
}
.container-fluid {
  background-color: cadetblue;
  height: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

/* css flex box */
.menu-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  margin-top: 50px;
  padding: 20px;
  border-radius: 100px;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid black;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 902px) {
  .menu-flex-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: auto;
  }
}

/* css span item */
.menu-flex-container > span {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

span > a {
  text-decoration: none;
  color: #0b0d11;
  font-family: sans-serif;
  font-size: 15px;
}
span > a:hover {
  color: #ff0081;
}

/* css icon */
.fa-facebook-f {
  color: blue;
  font-size: 20px;
}
.fa-twitter {
  color: cornflowerblue;
  font-size: 20px;
}
.fa-instagram {
  font-size: 20px;
  color: #d6249f;
}
.fa-wifi {
  color: orange;
}
.Signin {
  cursor: pointer;
  background-color: #726262;
  color: #ffffff;
  border-radius: 30px;
  outline: inherit;
  font-weight: bolder;
}
.Signin:hover {
  color: #d21596;
  background-color: #ffffff;
  border: #333333;
}

.img-content {
  border-radius: 20px;
  border: 1px solid black;
}
.left-content {
  background: #c5c5fe;
  border: 1px solid black;
  border-radius: 20px;
}

.button-content {
  border-radius: 20px;
}

/* css underline */
.text-left-content {
  font-size: 34px;
  font-weight: bolder;
  transition: text-decoration 0.8s;
  position: relative;
  cursor: pointer;
}
.text-left-content:hover {
  text-decoration: underline;
}

.text-left-content::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.8s;
}

.text-left-content:hover::after {
  width: 100%;
}
.img-jonathan{
  border:1px solid black;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
