html,
body {
  background-color: #54cbca !important;
  font: 16px;
  font-family: sans-serif;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  background-image: url(https://ghost.estudiopatagon.com/groovy/assets/images/background-decoration.svg),
    url(https://ghost.estudiopatagon.com/groovy/assets/images/background-decoration.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 9.5% 95px, 90.5% 95px;
  background-attachment: fixed, fixed;
  background-origin: padding-box;
  background-size: 150px;
  width: auto;
  height: auto;
}

footer {
  background-color: #fffacd;
  border-top: 1px solid rgb(39 39 39 / 75%);
  border-bottom: 1px solid rgb(39 39 39 / 75%);
  padding-bottom: 20px;
  margin-top: 120px;
  padding: 0;
}

/* hover img all */
/* button:hover,
img:hover:not(.img-menu) {
  box-shadow: 2px 2px #443c3c;
  transform: translate3d(-2px, -2px, 0);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;
}

button:active,
img:active:not(.img-menu) {
  box-shadow: 2px 2px #443c3c;
  transform: translate3d(-2px, -2px, 0);
} */

.img-effect:hover {
  -webkit-box-shadow: 4px 4px 4px 0px #333;
  box-shadow: 4px 4px 4px 0px #333;
  -webkit-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

.no-margin {
  margin: 0 !important;
}

/* header */
/* css menu  */
.grid-menu-container {
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  position: relative;
}

.box-menu {
  padding: 20px 60px;
  border-radius: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  border: 1px solid rgb(39 39 39 / 75%);
  flex-wrap: nowrap;
}

.logo > {
  margin: 0;
  float: left;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.menu-dropdown {
  margin-right: 10px;
  padding-right: 15px;
}

.nav-menu {
  margin-left: auto;
  text-align: right;
  float: right;
  display: block;
}

ul.menu {
  padding: 0;
  font-size: 0px;
  padding-left: 130px;
}

/* nav-item css */
.nav-menu ul.menu li {
  display: inline-block;
  padding: 10px 13px;
  position: relative;
}

.nav-menu ul.menu li a {
  display: inline-block;
  font-size: 15px;
  line-height: 1.25;
  position: relative;
  z-index: 1;
  color: #333;
  background-position: left 100%;
  letter-spacing: 0.3px;
  font-family: sans-serif;
  text-decoration: none;
  outline: 0;
}

/* css articles */
.info-article {
  padding: 20px;
  padding-left: 40px;
}

/* sub-menu */
.nav-menu ul.sub-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  padding: 15px 0;
  background: #fff;
  min-width: 250px;
  text-align: left;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--epcl-border-color);
  border-radius: 10px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  border: 1px solid black;
}

.menu-dropdown:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.sub-menu li a:hover::before {
  content: " â” ";
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 0;
  bottom: 0;
  right: -20px;
  width: 0;
  transition: margin-left 0.1s ease-in-out;
}

.sub-menu li a:hover {
  margin-left: 15px;
  transition: margin-left 0.1s ease-in-out;
}

.nav-menu ul.sub-menu li {
  display: block;
  padding: 10px 25px;
  font-family: sans-serif;
  position: relative;
}

.nav-menu ul.menu li a:hover {
  color: #ff4c60;
}

.nav-menu ul.sub-menu li a:hover {
  color: #333;
}

/* login Button */
.signinButton:not(.nav-menu ul.menu) {
  background-image: none;
  background-color: #000;
  border: 1px solid black;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: sans-serif;
  font-weight: bolder;
}

.signinButton:not(.nav-menu ul.menu):hover {
  box-shadow: 2px 2px #443c3c;
  transform: translate3d(-2px, -2px, 0);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

/* content css */
/* main content */
.bg-box {
  background-color: #fffacd;
  border-radius: 15px;
  border: 1px solid rgb(39 39 39 / 75%);
}

/* select all articles of leftcontent */
#articles-of-leftcontent > article {
  margin: 0 auto 50px;
  padding: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
}

#articles-of-leftcontent article:nth-child(1),
#articles-of-leftcontent article:nth-child(8) {
  background-color: #c5c5fe;
}

#articles-of-leftcontent article:nth-child(2),
#articles-of-leftcontent article:nth-child(6) {
  background-color: #1dd7c2;
}

#articles-of-leftcontent article:nth-child(3),
#articles-of-leftcontent article:nth-child(7) {
  background-color: #83ea6c;
}

#articles-of-leftcontent article:nth-child(4),
#articles-of-leftcontent article:nth-child(5) {
  background-color: #85b2f4;
}

/* hover button all*/

/* css icon */
.fa-facebook-f {
  color: blue;
  font-size: 22px;
}

.fa-twitter {
  color: cornflowerblue;
  font-size: 22px;
}

.fa-instagram {
  font-size: 20px;
  color: #d6249f;
  font-size: 22px;
}

.fa-rss {
  color: orange;
  font-size: 22px;
}

.fa-earth-americas {
  color: #ff4c60;
  font-size: 14px;
}

.social-button {
  float: right;
  margin: 5px 0 0 30px;
}

.social-button.fill-color a {
  display: inline-block;
  margin: 0 2px;
  background: none;
  box-shadow: none;
  width: 34px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.social-button a i.fa-brands,
.social-button a i.fa-solid {
  font-size: 22px;
  font-size: normal !important;
  display: inline-block;
  font: FontAwesome;
  text-rendering: auto;
}

/* thumb css image */
.thumb {
  border-radius: 15px;
  position: relative;
  z-index: 1;
  min-height: 80px;
  display: block;
  width: 300px;
  height: 380px;
  min-width: 300px;
  border: 1px solid rgb(39 39 39 / 75%);
}

.thumb-footer {
  width: 60px;
  height: 64px;
  min-height: 52px;
  overflow: inherit;
  position: absolute;
  left: 0;
  top: 1px;
  padding: 0;
  border-radius: 8px;
}

.avatar {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  font-size: 38px !important;
}

.avatar a {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-height: 80px;
  border: 1px solid black;
}

.avatar span {
  border-radius: 100%;
}

.widget-aside {
  position: relative;
  margin-bottom: 50px;
  width: auto;
  float: none;
  padding: 15px 23px;
  z-index: 2;
}

.thumb-avatar {
  position: relative;
  z-index: 1;
  min-height: 80px;
}

.imgAboutMe span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  z-index: 1;
  border-radius: 100%;
}

.img-content {
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  z-index: 1;
}

.cmt-content {
  position: absolute;
  left: 15px;
  top: 25px;
  z-index: 10;
}

.cmt-item {
  display: flex;
  float: right;
  color: #fff;
  font-size: 13px;
  margin: 20px -15px 0 25px;
  background: #333;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 100px;
}

.cmt-item svg {
  width: 15px;
  height: 15px;
  fill: #fff !important;
  vertical-align: middle;
  margin: auto;
}

.cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

.img-aside {
  position: absolute;
  width: 60px;
  height: 64px;
  min-height: 52px;
  overflow: inherit;
  left: 0;
  top: 1px;
  padding: 0;
  border-radius: 8px;
}

.thumb-aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  z-index: 1;
}

.featured-article {
  margin-bottom: 20px;
  position: relative;
  padding-left: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
}

/* buton-content-active css */
.button-content {
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  padding: 6px 15px;
  line-height: 1.2;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 10px;
  background: #ffffff;
}

.button-content-active {
  display: inline-block;
  position: relative;
  font-family: sans-serif;
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 2px 0 #333;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  padding: 5px 25px;
  display: inline-block;
  margin-right: 0;
  background: #ffffff;
  color: #333;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
  z-index: 2;
}

.button-content-active:hover {
  transform: none;
  box-shadow: none;
  color: #333;
}

.button-content-active a:hover {
  color: #333;
}

.meta-bottom {
  margin-top: 40px;
}

a {
  text-decoration: none;
  outline: 0;
}

.hoverTextEffect a:hover {
  color: #333 !important;
  background-size: 100% 5%;
}

.hoverTextEffect a {
  padding-bottom: 5px;
  background-image: webkit-gradient(
    linear,
    left top,
    right top,
    from #333,
    to #333
  );
  background-image: -o-linear-gradient(left, #333 0%, #333 100%);
  background-image: -o-linear-gradient(to right, #333 0%, #333 100%);
  background-repeat: no-repeat;
  background-size: 0% 5%;
  background-position: left 80%;
}

/* css avatar  */
.img-jonathan {
  border: 1px solid black;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.about-jonathanImg {
  border: 1px solid black;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.name-aboutme > a {
  font-size: 18px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
  outline: 0;
  color: #333;
}

.founder {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
}

.text-about-me {
  margin-top: 15px;
  font-size: 14px;
}

.titleFooter {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 1;
  position: relative;
  top: -20px;
  font-size: 20px;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

/* css icon right 3 */
.icon-right-3 {
  border: 1px solid black;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
}

/* css tag Cloud */
.tagCloud > div > button {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 13px;
  font-family: sans-serif;
  margin: 0px 10px 12px 0px;
}

h6 {
  font-size: 12px;
}

/* css text */
.large {
  font-size: 34px;
  line-height: 1.2;
  font-family: sans-serif;
}

/* css Form */
.subcribe-form {
  position: relative;
  z-index: 2;
}

.subscribeFooter {
  border-top: 1px solid rgb(39 39 39 / 75%);
  margin-top: 40px;
}

.titleForm {
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin: 53.2px 0px 30px;
}

.footer .subscribe-form .form-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.subscribe-decoration {
  background: url(../assets/img/subscribe-decoration.png) no-repeat left top;
  position: absolute;
  left: 24%;
  top: 150px;
  margin-right: -70px;
  z-index: -1;
  width: 125px;
  height: 103px;
  background-size: contain;
}

.subcribe {
  font-size: 16px;
  position: relative;
  z-index: 2;
  padding: 60px 50px;
}

.inputForm {
  margin: 0;
  padding-right: 175px;
  height: 60px;
  padding: 15px 175px 15px 45px;
  font-size: 15px;
  letter-spacing: 0.5px;
  border: 1px solid black;
  border-radius: 100px;
  width: 100%;
  font-family: sans-serif;
}

/* css submit button */
.submitButton {
  position: absolute;
  right: 10px;
  top: 7px;
  height: 47px;
  font-size: 17px;
  padding: 0px 35px;
  color: #ffffff;
  letter-spacing: 0.5px;
  z-index: 2;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  background-color: #ff4c60;
  transition: all 300ms var(cubic-bezier(0.5, 2.5, 0.7, 0.7));
}

.description {
  max-width: 400px;
  margin: 0 100px;
  font-size: 15px;
}

.menuFooter {
  margin: 16px 0;
  padding: 0px 0px 0px 40px;
  font-family: sans-serif;
  text-align: center;
}

.menuFooter > li {
  display: inline;
  margin-left: 7px;
  justify-content: center;
  align-items: center;
}

.menuFooter > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.menuFooter > li > a:hover {
  color: #ff0081;
}

.fa-twitter,
.fa-facebook-f,
.fa-solid-earth:not(.social-button a i) {
  font-size: 14px;
  font-size: inherit;
}

.footer .second-nav {
  margin-bottom: 20px;
  text-align: center;
}

.published {
  margin: 0 0 20px;
  font-size: 13px;
  text-align: center;
}

/* grid system size */
.grid-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-large {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-small {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/* number footer */
.number {
  position: absolute;
  z-index: 3;
  left: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  font-weight: 700;
  color: #000;
  background: url(https://ghost.estudiopatagon.com/groovy/assets/images/number-decoration.svg)
    no-repeat center center;
}

/* start css page membership here */
.content {
  margin-top: 50px;
}

.post-content {
  margin-left: -20px;
  margin-right: -20px;
}

/* switch */
.toggle-container {
  text-align: center;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  margin: 0 auto;
  padding: 5px 5px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 100px;
  font-size: 20px;
  border-left: 5px solid #fff;
  border: 1px solid rgb(39 39 39 / 75%);
}

.toggle-btn {
  flex: 1;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 16px;
  background: none;
  border: none;
  border-radius: 25px;
  z-index: 1;
  font-family: sans-serif;
}

.toggle-btn.active {
  background-color: #ff4c60;
  color: #fff;
}

.toggle-btn:not(.active) {
  color: #333;
}

/* content switch */
.pricing-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pricing {
  display: none;
  flex-direction: row;
  justify-content: center;
}

.pricing.active {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.plan {
  background-color: #fff;
  padding: 50px;
  text-align: center;
  margin-bottom: 35px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 0px #333;
  text-align: center;
  border: 1px solid rgb(39 39 39 / 75%);
}

.plan h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.price {
  font-size: 55px;
  font-weight: bold;
  color: #ff4c60;
  margin-bottom: 15px;
}

.price span {
  display: inline-block;
  font-size: 30%;
  vertical-align: baseline;
  margin-top: -3px;
  color: #333;
}

.plan-container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.plan ul {
  list-style: none;
  padding: 10px 0 25px;
  margin-top: 25px;
  border-top: 1px solid rgb(39 39 39 / 75%);
}

.plan ul li {
  position: relative;
  text-align: left;
  font-size: 15px;
  list-style: none;
  z-index: 1;
  padding-left: 20px;
  margin-top: 15px;
}

.plan ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 5px;
  height: 5px;
  background: #fed267;
  border-radius: 50%;
}

.sign-up-btn {
  display: inline-block;
  background-color: #ff4c60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
}

.sign-up-btn:hover,
.sign-in-btn:hover {
  background-color: #ff4b4b;
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0px 0px #333;
  color: #fff;
}

.sign-up-now {
  background-image: none;
  background-color: #333;
  border: 1px solid black;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  box-shadow: 2px 2px #443c3c;
}

.sign-up-now:hover {
  box-shadow: 2px 2px #443c3c;
  transform: translate(-2px, -2px);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.sign-in-btn {
  margin-left: 10px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  padding: 5px 25px;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 2;
  font-family: sans-serif;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  background-color: #ff4c60;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 2px 2px #443c3c;
}




/* reponsive */
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 902px) {
  .menu-flex-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: auto;
  }
}

@media screen and (max-width: 1150px) {
  .grid-container {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1024px) {
  .grid-70 {
    float: left;
    width: 70%;
  }
  .grid-100 {
    clear: both;
    width: 100%;
  }
  .grid-30 {
    width: 30%;
  }
  .grid-33 {
    width: 33.333333%;
  }
}
