html,
body {
  background-color: #54cbca !important;
  font: 16px;
  font-family: sans-serif;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  background-image: url(https://ghost.estudiopatagon.com/groovy/assets/images/background-decoration.svg),
    url(https://ghost.estudiopatagon.com/groovy/assets/images/background-decoration.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 9.5% 95px, 90.5% 95px;
  background-attachment: fixed, fixed;
  background-origin: padding-box;
  background-size: 150px;
  width: auto;
  height: auto;
}

footer {
  background-color: #fffacd;
  border-top: 1px solid rgb(39 39 39 / 75%);
  border-bottom: 1px solid rgb(39 39 39 / 75%);
  padding-bottom: 20px;
  margin-top: 120px;
  padding: 0;
}

/* css toàn cục cho a */
a {
  text-decoration: none;
  outline: 0;
  color: #353a44;
}

.img-effect:hover {
  -webkit-box-shadow: 4px 4px 4px 0px #333;
  box-shadow: 4px 4px 4px 0px #333;
  -webkit-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

.no-margin {
  margin: 0 !important;
}

/* header */
/* css menu  */
.grid-menu-container {
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  position: relative;
}

.box-menu {
  padding: 20px 60px;
  border-radius: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  border: 1px solid rgb(39 39 39 / 75%);
  flex-wrap: nowrap;
}

.logo > {
  margin: 0;
  float: left;
}

.logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.menu-dropdown {
  margin-right: 10px;
  padding-right: 15px;
}

.nav-menu {
  margin-left: auto;
  text-align: right;
  float: right;
  display: block;
}

ul.menu {
  padding: 0;
  font-size: 0px;
  padding-left: 130px;
}

/* nav-item css */
.nav-menu ul.menu li {
  display: inline-block;
  padding: 10px 13px;
  position: relative;
}

.nav-menu ul.menu li a {
  display: inline-block;
  font-size: 15px;
  line-height: 1.25;
  position: relative;
  z-index: 1;
  color: #333;
  background-position: left 100%;
  letter-spacing: 0.3px;
  font-family: sans-serif;
  text-decoration: none;
  outline: 0;
}

/* css articles */
.info-article {
  padding: 20px;
  padding-left: 40px;
}

/* sub-menu */
.nav-menu ul.sub-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  padding: 15px 0;
  background: #fff;
  min-width: 250px;
  text-align: left;
  left: -20px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--epcl-border-color);
  border-radius: 10px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  border: 1px solid black;
}

.menu-dropdown:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}

.sub-menu li a:hover::before {
  content: " ━ ";
  position: absolute;
  z-index: -1;
  left: -20px;
  top: 0;
  bottom: 0;
  right: -20px;
  width: 0;
  transition: margin-left 0.1s ease-in-out;
}

.sub-menu li a:hover {
  margin-left: 15px;
  transition: margin-left 0.1s ease-in-out;
}

.nav-menu ul.sub-menu li {
  display: block;
  padding: 10px 25px;
  font-family: sans-serif;
  position: relative;
}

.nav-menu ul.menu li a:hover {
  color: #ff4c60;
}

.nav-menu ul.sub-menu li a:hover {
  color: #333;
}

/* login Button */
.signinButton:not(.nav-menu ul.menu) {
  background-image: none;
  background-color: #000;
  border: 1px solid black;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: sans-serif;
  font-weight: bolder;
}

.signinButton:not(.nav-menu ul.menu):hover {
  box-shadow: 2px 2px #443c3c;
  transform: translate3d(-2px, -2px, 0);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

/* content css */
/* main content */
.bg-box {
  background-color: #fffacd;
  border-radius: 15px;
  border: 1px solid rgb(39 39 39 / 75%);
}

/* select all articles of leftcontent */
#articles-of-leftcontent > article {
  margin: 0 auto 50px;
  padding: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
}

/* hover button all*/

/* css icon */
.fa-facebook-f {
  color: blue;
  font-size: 22px;
}

.fa-twitter {
  color: cornflowerblue;
  font-size: 22px;
}

.fa-instagram {
  font-size: 20px;
  color: #d6249f;
  font-size: 22px;
}

.fa-rss {
  color: orange;
  font-size: 22px;
}

.fa-earth-americas {
  color: #ff4c60;
  font-size: 14px;
}

.social-button {
  float: right;
  margin: 5px 0 0 30px;
}

.social-button.fill-color a {
  display: inline-block;
  margin: 0 2px;
  background: none;
  box-shadow: none;
  width: 34px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.social-button a i.fa-brands,
.social-button a i.fa-solid {
  font-size: 22px;
  font-size: normal !important;
  display: inline-block;
  font: FontAwesome;
  text-rendering: auto;
}

/* thumb css image */
.thumb {
  border-radius: 15px;
  position: relative;
  z-index: 1;
  min-height: 80px;
  display: block;
  width: 300px;
  height: 380px;
  min-width: 300px;
  border: 1px solid rgb(39 39 39 / 75%);
}

.thumb-footer {
  width: 60px;
  height: 64px;
  min-height: 52px;
  overflow: inherit;
  position: absolute;
  left: 0;
  top: 1px;
  padding: 0;
  border-radius: 8px;
}

.avatar {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  font-size: 38px !important;
}

.avatar a {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-height: 80px;
  border: 1px solid black;
}

.avatar span {
  border-radius: 100%;
}

.widget-aside {
  position: relative;
  margin-bottom: 50px;
  width: auto;
  float: none;
  padding: 15px 23px;
  z-index: 2;
}

.thumb-avatar {
  position: relative;
  z-index: 1;
  min-height: 80px;
}

.cover {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

.img-aside {
  position: absolute;
  width: 60px;
  height: 64px;
  min-height: 52px;
  overflow: inherit;
  left: 0;
  top: 1px;
  padding: 0;
  border-radius: 8px;
}

.thumb-aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100% !important;
  z-index: 1;
}

.featured-article {
  margin-bottom: 20px;
  position: relative;
  padding-left: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
}

/* buton-content-active css */
.button-content {
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  padding: 6px 15px;
  line-height: 1.2;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 10px;
  background: #ffffff;
}

.button-content-active {
  display: inline-block;
  position: relative;
  font-family: sans-serif;
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 2px 0 #333;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  padding: 5px 25px;
  display: inline-block;
  margin-right: 0;
  background: #ffffff;
  color: #333;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
  z-index: 2;
}

.button-content-active:hover {
  transform: none;
  box-shadow: none;
  color: #333;
}

.button-content-active a:hover {
  color: #333;
}

.meta-bottom {
  margin-top: 40px;
}

.titleFooter {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 1;
  position: relative;
  top: -20px;
  font-size: 20px;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

/* css icon right 3 */
.icon-right-3 {
  border: 1px solid black;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 5px;
  padding: 10px;
}

/* css tag Cloud */
.tagCloud > div > button {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 13px;
  font-family: sans-serif;
  margin: 0px 10px 12px 0px;
}

h6 {
  font-size: 12px;
}

/* css text */
.large {
  font-size: 34px;
  line-height: 1.2;
  font-family: sans-serif;
}

/* css Form */
.subcribe-form {
  position: relative;
  z-index: 2;
}

.subscribeFooter {
  border-top: 1px solid rgb(39 39 39 / 75%);
  margin-top: 40px;
}

.titleForm {
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin: 53.2px 0px 30px;
}

.footer .subscribe-form .form-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.subscribe-decoration {
  background: url(../assets/img/subscribe-decoration.png) no-repeat left top;
  position: absolute;
  left: 24%;
  top: 150px;
  margin-right: -70px;
  z-index: -1;
  width: 125px;
  height: 103px;
  background-size: contain;
}

.subcribe {
  font-size: 16px;
  position: relative;
  z-index: 2;
  padding: 60px 50px;
}

.inputForm {
  margin: 0;
  padding-right: 175px;
  height: 60px;
  padding: 15px 175px 15px 45px;
  font-size: 15px;
  letter-spacing: 0.5px;
  border: 1px solid black;
  border-radius: 100px;
  width: 100%;
  font-family: sans-serif;
}

/* css submit button */
.submitButton {
  position: absolute;
  right: 10px;
  top: 7px;
  height: 47px;
  font-size: 17px;
  padding: 0px 35px;
  color: #ffffff;
  letter-spacing: 0.5px;
  z-index: 2;
  font-family: sans-serif;
  font-weight: 700;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  background-color: #ff4c60;
  transition: all 300ms var(cubic-bezier(0.5, 2.5, 0.7, 0.7));
}

.description {
  max-width: 400px;
  margin: 0 100px;
  font-size: 15px;
}

.menuFooter {
  margin: 16px 0;
  padding: 0px 0px 0px 40px;
  font-family: sans-serif;
  text-align: center;
}

.menuFooter > li {
  display: inline;
  margin-left: 7px;
  justify-content: center;
  align-items: center;
}

.menuFooter > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.menuFooter > li > a:hover {
  color: #ff0081;
}

.fa-twitter,
.fa-facebook-f,
.fa-solid-earth:not(.social-button a i) {
  font-size: 14px;
  font-size: inherit;
}

.footer .second-nav {
  margin-bottom: 20px;
  text-align: center;
}

.published {
  margin: 0 0 20px;
  font-size: 13px;
  text-align: center;
}

/* grid system size */
.grid-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-large {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-small {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/* number footer */
.number {
  position: absolute;
  z-index: 3;
  left: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  font-weight: 700;
  color: #000;
  background: url(https://ghost.estudiopatagon.com/groovy/assets/images/number-decoration.svg)
    no-repeat center center;
}

/*  */
/*  */
/*  */
/* start css page style Guide here */
.featured-image {
  position: relative;
  z-index: 1;
  border: 1px solid rgb(39 39 39 / 75%);
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
}

.featured-image img {
  object-fit: cover;
  height: 500px;
}

.img-full {
  display: block;
  width: 100%;
  height: auto;
}

.title-info {
  display: inline-block;
  margin: 0;
  text-align: center;
  border-radius: 8px;
  padding: 4px 25px;
  background: #fff;
  border: 1px solid rgb(39 39 39 / 75%);
  letter-spacing: 0.5px;
  font-weight: 800;
  font-family: sans-serif;
}

.featured-image .info {
  position: absolute;
  left: 30px;
  bottom: 30px;
  max-width: 40%;
  z-index: 3;
}

/* css content post */
.left-content {
  max-width: 900px;
  padding-right: 20px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto;
  border: 0;
  float: none;
}

.main-article {
  position: relative;
  z-index: 1;
  padding: 50px 60px;
}

.post .text {
  font-size: 17px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.35px;
}

/* css style text heading */
.text h1 {
  font-size: 32px;
  padding-top: 19.84px;
  margin-bottom: 12.16px;
  line-height: 1.3;
  font-weight: 700;
  font-family: sans-serif;
  color: #333;
}

.text h2 {
  font-size: 28px;
  padding-top: 14.4px;
  margin-bottom: 17.6px;
  line-height: 1.4;
  font-weight: 700;
  font-family: sans-serif;
  color: #333;
}

.text h3 {
  font-size: 24px;
  padding-top: 20.8px;
  margin-bottom: 14.4px;
  line-height: 1.5;
  font-weight: 700;
  font-family: sans-serif;
  color: #333;
}

.text h4 {
  font-size: 18px;
  padding-top: 8px;
  margin-bottom: 24px;
}

.text blockquote {
  padding: 40px;
  padding-left: 60px;
  margin: 0 0 25px 0;
  border-left: 0;
  font-style: italic !important;
  position: relative;
  z-index: 1;
  font-size: 110%;
  background: #fff no-repeat 97% 90%
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='40' height='40'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19.417 6.679C20.447 7.773 21 9 21 10.989c0 3.5-2.457 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621-.537.278-1.24.375-1.929.311-1.804-.167-3.226-1.648-3.226-3.489a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.099.49 2.748 1.179zm-10 0C10.447 7.773 11 9 11 10.989c0 3.5-2.457 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621-.537.278-1.24.375-1.929.311C4.591 12.322 3.17 10.841 3.17 9a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.099.49 2.748 1.179z' fill='rgba(218,222,237,1)'/%3E%3C/svg%3E");
  border-radius: 8px;
  line-height: 1.85;
  font-weight: 400;
  background-size: 50px;
}

.text img {
  max-width: 100%;
  border: 1px solid rgb(39 39 39 / 75%);
  border-radius: 8px;
  box-sizing: border-box;
}

.text figure {
  padding-top: 8px;
}

.text p {
  padding-top: 8px;
  margin-bottom: 24px;
}
.text strong {
  font-weight: bold;
}

.text pre {
  margin-top: 8px;
  margin-bottom: 24px;
  overflow: auto;
  max-width: 100%;
  max-height: 400px;
  font-size: 15px;
}

/* call out card */
.callout-card {
  position: relative;
  border: 1px solid rgb(39 39 39 / 75%);
  border-radius: 8px;
  padding: 1.2em 1.6em;
  font-size: 19px;
  margin-bottom: 24px;
}

.callout-emoji {
  flex-shrink: 0;
  min-width: 15px;
  padding-right: 0.8em;
  line-height: 1.25em;
  font-size: 1.15em;
}

.callout-text {
  font-size: 0.95em;
  line-height: 1.5em;
}

/* css toggle-card */
.toggle-card {
  background: #fff;
  border: 1px solid rgb(39 39 39 / 75%);
  border-radius: 8px;
  padding: 1.2em;
  margin-bottom: 24px;
  box-shadow: none;
}

.toggle-card-icon {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.toggle-heading {
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

.toggle-heading h4 {
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

.toggle-heading svg {
  width: 14px;
  transition: all 0.3s;
}

.toggle-card[data-toggle-close="close"] svg {
  transform: unset;
}

/* quay ngược nút khi bấm open */
/* css content khi bấm open */
.toggle-card-icon .open {
  transform: rotate(180deg);
}

.toggle-heading path {
  fill: none;
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  fill-rule: evenodd;
}

.toggle-content {
  font-size: 0.95em;
  line-height: 1.5em;
  margin-top: 0.95em;
  margin-bottom: 0;
  opacity: 1;
}

/* bookmark css */
.bookmark-card a {
  border: 1px solid rgb(39 39 39 / 75%) !important;
  border-radius: 8px !important;
  background: #fff;
  text-decoration: none;
  overflow: hidden;
  color: inherit;
}

.bookmark-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  overflow: hidden;
}

.bookmark-description {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  max-height: 44px;
  overflow-y: hidden;
  opacity: 0.7;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bookmark-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.bookmark-thumbnail {
  position: relative;
  flex-grow: 1;
  min-width: 33%;
}

.bookmark-thumbnail img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 0;
  position: absolute;
}

.bookmark-card a:hover {
  transform: translateY(-2px);
}

/* css row gallery image */
.gallery-row {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}

.gallery-container {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.gallery-image {
  background: none;
  border-radius: 8px;
  margin: 0 0 0 0.75em;
}

.gallery-image img {
  display: block;
  width: 100%;
  margin: 0;
  height: 100%;
}

/* css product card */
.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 8px;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.product-card-container {
  display: grid;
  grid-template-columns: auto min-content;
  grid-row-gap: 16px;
  align-items: center;
  background: 0 0;
  max-width: 550px;
  padding: 20px;
  width: 100%;
}

.product-card .product-card-container {
  box-shadow: none;
  background: #fff;
  border: 1px solid rgb(39 39 39 / 75%);
  border-radius: 8px;
}

h4.product-card-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15em;
  font-family: sans-serif;
}

.product-card-rating {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  align-self: start;
  justify-self: end;
  padding-left: 16px;
}

.product-card-rating-star {
  height: 28px;
  width: 20px;
}

.product-card-rating-star svg {
  fill: #ff4c60;
  opacity: 1;
  width: 16px;
  height: 16px;
}

.product-card-description p:first-of-type {
  margin-top: -4px;
}

.product-card-description p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 0.95em;
  line-height: 1.5em;
  opacity: 0.7;
  margin-bottom: 0;
}

.product-card-btn-purchase {
  display: flex;
  grid-column: 1/3;
  justify-content: center;
  position: relative;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  z-index: 2;
  font-family: var(--epcl-font-family);
  font-weight: 700;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  background-color: #ff4c60;
  transition: all 300ms cubic-bezier(0.5, 2.5, 0.7, 0.7);
  height: auto;
  padding: 13px 25px;
  text-decoration: none;
}

.product-card-btn-active:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0px 0px #333;
  color: #fff;
}

/* css file card */
.file-card {
  display: flex;
  margin-bottom: 24px;
}

.file-card-container {
  display: flex;
  border: 1px solid rgb(39 39 39 / 75%);
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  align-items: stretch;
  justify-content: space-between;
  color: inherit;
  min-height: 92px;
  text-decoration: none;
  width: 100%;
}

.file-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4px 8px;
  width: 100%;
}

.file-card-content a:hover {
  outline: none;
  color: #333;
}

.file-card-title {
  font-family: sans-serif;
  margin-bottom: 8px;
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1.3em;
  color: #333;
}

.file-card-caption {
  margin-top: -3px;
  font-size: 0.95em;
  line-height: 1.3em;
  opacity: 0.6;
  color: #333;
}

.file-card-meta {
  margin-top: 5px;
  display: inline;
  font-size: 0.825em;
  line-height: 1.3em;
  color: #333;
}

.file-card-filename {
  font-weight: 600;
  display: inline;
  color: #333;
}

.file-card-filesize {
  display: inline-block;
  font-size: 0.925em;
  opacity: 0.6;
  color: #333;
}

.file-card-filesize::before {
  display: inline-block;
  content: "•";
  margin-right: 4px;
}

.file-card-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-width: 80px;
  height: 100%;
}

.file-card-icon::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: currentColor;
  opacity: 0.06;
  transition: opacity ease-in-out 0.35s;
  border-radius: 2px;
}

.file-card-icon svg {
  width: 24px;
  height: 24px;
  color: #ff4c60;
}

/* css audio */
.audio-card {
  border-radius: 8px;
  padding: 0;
  box-shadow: none;
  border: 1px solid rgb(39 39 39 / 75%);
  margin-bottom: 24px;
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 96px;
  box-sizing: border-box;
}

.audio-thumbnail.placeholder {
  border-radius: 0;
  background: #ff4c60;
}

.audio-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  min-width: 80px;
  margin: 8px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.audio-thumbnail.placeholder svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.audio-player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  --volume-before-width: 100%;
  --buffered-width: 0%;
}

.audio-title {
  font-family: sans-serif;
  color: #333;
  width: 100%;
  margin: 8px 0 0;
  padding: 8px 12px;
  border: 0;
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1.15em;
  background: 0 0;
}

.audio-player {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 8px 12px;
}

.audio-player-container button:not(.audio-mute-icon) {
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
}

.audio-player-container input[type="range"] {
  position: relative;
  /* appearance: none; */
  background: 0 0;
  height: auto;
  padding: 0;
  border: 0;
}

input[type="range" i] {
  cursor: default;
  color: light-dark(rgb(16, 16, 16));
}

.audio-current-time {
  min-width: 38px;
  padding: 0 4px;
  font-family: inherit;
  font-size: 0.85em;
  font-weight: 500;
  line-height: 1.4em;
  white-space: nowrap;
}

.audio-hide,
.audio-hide svg {
  display: none !important;
}

.audio-time {
  width: 56px;
  color: #ababab;
  font-family: inherit;
  font-size: 0.85em;
  font-weight: 500;
  line-height: 1.4em;
  white-space: nowrap;
  margin: 0;
}
.audio-duration {
  padding: 0 4px;
}

.audio-seek-slider {
  flex-grow: 1;
  margin: 0 4px;
}

.audio-seek-slider::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0% !important;
  height: 4px;
  cursor: pointer;
  background-color: currentColor;
  border-radius: 2px;
}

.audio-playback-rate {
  min-width: 37px;
  padding: 0 4px;
  font-family: inherit;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 1.4em;
  text-align: left;
  background: 0 0;
  white-space: nowrap;
  margin: 0;
}

.audio-unmute-icon,
.audio-mute-icon {
  position: relative;
  bottom: -1px;
  padding: 0 4px;
  font-size: 0;
  background: 0 0;
}

.audio-play-icon,
.audio-pause-icon {
  position: relative;
  bottom: 1px;
  padding: 0 4px 0 0;
  font-size: 0;
  background: 0 0;
}

.audio-play-icon svg,
.audio-pause-icon svg {
  width: 14px;
  height: 14px;
  fill: currentColor;
  margin: 0;
  
}

.audio-unmute-icon svg,
.audio-mute-icon svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin: 0;
  stroke: none;
  border: none;
}

.audio-volume-slider {
  width: 80px;
}

.audio-volume-slider::before {
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  cursor: pointer;
  background-color: currentColor;
  border-radius: 2px;
}

/* css html language */
.code-toolbar {
  position: relative;
  margin-right: 0px;
}

pre[class*="language-"] {
  background: #fff;
  padding: 1.5em;
  margin: 0.5em 0;
  border-radius: 8px;
  border: 1px solid rgb(39 39 39 / 75%);
  color: black;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.75;
  letter-spacing: 0.25px;
  tab-size: 4;
  hyphens: none;
}

code[class*=language-] {
  color: black;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 15px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.75;
  letter-spacing: 0.25px;
  tab-size: 4;
  hyphens: none;
}

.doctype {
  color: slategray;
}

.toolbar {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px;
  opacity: 1;
}

.toolbar-item {
  display: inline-block;
}

.toolbar-item >span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  padding: 2px 10px;
  color:#000;
}

.toolbar-item > a {
  border: 1px solid rgb(39 39 39 / 75%);
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 25px;
  text-decoration: none;
}

.toolbar-item > a:hover {
  color: #000;
  text-decoration: none;
  background: #fff;
}

.token.tag,
.token.property {
  color: #905;
}

.token.attr-name,
.token.selector {
  color: #690;
}

.token.attr-value {
  color: #07a;
}

.token.punctuation {
  color: #999;
}

.token.string {
  color: #9a6e3a;
  background: rgb(255 255 255 / 50%);
}

/* reponsive */
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 902px) {
  .menu-flex-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: auto;
  }
}

@media screen and (max-width: 1150px) {
  .grid-container {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1024px) {
  .grid-70 {
    float: left;
    width: 70%;
  }
  .grid-100 {
    clear: both;
    width: 100%;
  }
  .grid-30 {
    width: 30%;
  }
  .grid-33 {
    width: 33.333333%;
  }
}
